/*
	Headding
 */
.sac-page--title {
	height: 70px;
	background: url("global-bar-bg.png");

 	opacity: 0.941;
 	border-top: 1px solid #e6e6e6;
 	border-bottom: 1px solid #e6e6e6;
}


.sac-page--title h1 {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}

.sac-page--tools {
	margin-top: 18px;
	text-align: right;
}

.sac-page--tools-item {
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-color: #0077a9;
	height: 35px;
	cursor: pointer;

	display: inline-block;
	margin-left: 10px;
}

.sac-page--tools-icon {
	width: 33px;
	height: 35px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
}

.sac-page--tools-icon img {
    margin-top: 12px;
}

.sac-page--search {
	display: none;
	width: 196px;
	border-radius: 5px;

	@media (min-width: $screen-sm-min) {
		display: inline-block;
	}
}

.sac-page--search input {
	height: 35px;
	width: 159px;
	border-radius: 5px 0 0 5px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	text-indent: 10px;

	&:focus {
		outline: none;
	}
}

.sac-page--search .sac-page--tools-icon img {
	margin-top: 2px;
	margin-left: -4px;
}

.sac-page--actions {
	width: 144px;
	display: none;

	@media (min-width: $screen-sm-min) {
		display: inline-block;
	}
}

.sac-page--actions .sac-page--tools-icon {
	border-right: 1px solid #459cc0;
}

.sac-page--more {
	width: 36px;
}

/**
 * Projects
 */

.main {
	padding: 30px 0;
}