.project-card {
    height: 316px;
    width: 270px;
    border-radius: 5px;

    background-color: transparent;

    display: block;
    position: relative;
    overflow: hidden;

    border: 1px solid #e9e9e9;
}

.project-image {
    height: 200px;

    background-color: #f7f7f7;
}

.project-information {
    background-color: #ffffff;
    height: 116px;
    width: 100%;
    padding: 10px;

    position: relative;
}

.project-icon  {
    display: inline-block;
    vertical-align: top;
}

.project-icon img {
    width: 34px;
    height: 34px;
}

.project-heading {
    padding-bottom: 10px;
}

.project-title {
    height: 34px;
    display: inline-block;
    vertical-align: top;
    line-height: 34px;
    padding: 2px 0 0 10px;
}

.project-title h2 {
    color: #167cad;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 2px 0;
}

.project-title h3 {
    margin: 0;
    font-size: 11px;
    color: #a1a0a0;
}

.project-description {
    color: #696969;
    font-size: 11px;
    padding-bottom: 10px;
}

.project-card--separator {
    width: 100%;
    border-bottom: 1px solid #ececec;
}

.project-meta {
    padding: 10px 0;
}

.project-updated {
    font-size: 11px;
    color: #a1a0a0;
    font-style: italic;

    display: inline-block;
    vertical-align: top;

}

.project-snapshot {
    display: inline-block;
    vertical-align: top;
    height: 15px;
    line-height: 15px;
    

    position: absolute;
    right: 10px;
}

.project-snapshot img {
    margin-top: -1px;
    margin-right: 2px;
}

.project-snapshot--item {
    padding-left: 5px;
}