<div class="project-card">
	<div class="project-image">
		<img />
	</div>
	<div class="project-information">
		<div class="project-heading">
			<div class="project-icon">
				<img src="assets/profile-img.png">
			</div>
			<div class="project-title">
				<h2 class="project-title--text">{{project.projectName}}</h2>
				<h3 class="project-title--subtitle">by {{project.ownerName}}</h3>
			</div>	
		</div>

		<div class="project-description">{{project.description}}</div>
		
		<div class="project-card--separator"></div>

		<div class="project-meta">
			<div class="project-updated">Changed 1 day ago</div>
			<div class="project-snapshot">
				<span class="project-views project-snapshot--item">
					<img src="assets/views-inverted-icon.png">{{project.numberOfViews}}
				</span>
				<span class="project-likes project-snapshot--item">
					<img src="assets/appreciation-inverted-icon.png">{{project.numberOfLikes}}
				</span>
				<span class="project-shares project-snapshot--item">
					<img src="assets/copies-inverted-icon.png">{{project.numberOfCopies}}
				</span>
			</div>
		</div>

	</div>
</div>