.sac-header {
	background-color: #fff;

	@media (max-width: $screen-xs-max) {
		padding-right: 0;
		display: block;
		overflow: hidden;
	}
}

.sac-header--container {
	height: 50px;
}

.sac-header--logo {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.sac-header--user-image{
	margin: 0 5px;
}

.sac-header--nav-full {
	margin-right: -38px;
}

.sac-header--nav .container-fluid {
	@media (max-width: $screen-xs-max) {
		padding-right: 0;
	}
} 